<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Empieza a disfrutar de tus beneficios.</h1>
    <p>Aqui esta tu tarjeta de descuento especial para nuestro Cyber Monday.</p> 
    <p>Válido para los dias 28 y 29 de julio de 2014. Recuerda que el código que tienes que utilizar es: SUPERVIP</p>
    <%= image_tag attachments['card.png'].url %>
    <p>¡Vamos de Shopping! <a href="http://shop.clubtacones.cl/">Shop de ClubTacones</a></p>
    <p>Gracias por ser parte de nuestra comunidad.</p>
  </body>
</html>