<div class="container">
  <div class="row">
  <div class="col-md-12">
    <h3>Users</h3>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


