    <footer class="footer-11">
        <div class="additional-links">
        <center>
          <div class="container">
            <p class="lead">Somos <b>20,000</b> Amigas de ClubTacones.</p>
            <p>(compartir es amor)</p>
            <div class="fb-share-button" data-href="https://vip.clubtacones.com" data-width="20"></div>
          </div>
        </center>
        </div>
      </footer>

      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>