    <footer class="footer-11">
        <div class="additional-links">
          <div class="container">
            <p class="lead">Somos <b>20,000</b> Amigas de ClubTacones.</p>
            <p>(compartir es amor)</p>
            <a class="btn btn-inverse">Comparte con tus amigas</a>
          </div>
        </div>
      </footer>