<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Mis tarjetas', giftcards_path %></li>
  <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Usuarias', users_path %></li>
  <% end %>
<% end %>
